<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rosewhat.crypto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bitcoin"
        android:label="@string/app_name"
        android:name=".ui.CoinApp"
        android:roundIcon="@mipmap/bitcoin_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Crypto">
        <activity
            android:name=".ui.CoinDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.CoinPriceListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="androidx.work.WorkManagerInitializer"
            android:name="androidx.startup.InitializationProvider"
            tools:replace = "android:authorities"
            tools:node="remove"/>
    </application>

</manifest>